.twoTimesButton{
    color: white;
    font-size: 12;
    font-weight: bold;
    background-color: transparent;
    border: none;
    float:right;
    width:90x;
}

.oneHalfTimesButton{
    color: white;
    font-size: 12;
    font-weight: bold;
    background-color: transparent;
    border: none;
    float:left;
    width:135px;
}

.oneTimesButton{
    color: white;
    font-size: 12;
    font-weight: bold;
    background-color: transparent;
    border: none;
    float:left;
    width:0x;
}
