.twoTimesButton{
    color: white;
    font-size: 12;
    font-weight: bold;
    background-color: transparent;
    border: none;
    margin-left: left;
    margin-right:left;
    margin-top: auto;
    width:70%;
}

.oneTimesButton{
    color: white;
    font-size: 12;
    font-weight: bold;
    background-color: transparent;
    border: none;
    position:absolute;
}